body{
    background-color: grey;
    overflow:hidden;
    font-size: 2vw;
}

#box1{
    width: 20vw;
    height: 20vw;
    background-color: white;
    position: relative;
    left: 20%;
    top: 25%;
    cursor: pointer;
}

#box2{
    width: 20vw;
    height: 20vw;
    background-color: black;
    position: relative;
    left: 40%;
    top: 25%;
    cursor: pointer;
}

#documentationTextWrapper{
    width: 80vw;
    height: fit-content;
    background-color:white;
    position: relative;
    top: 25vh;
    left: 10vw;
}
