/* home page */
#homeBackground{
    position: relative;
    /* width: 1440px;   */
    width: 100vw;
    /* margin-left:calc(50vw - 760px); */
    height: 400vw;
    background: linear-gradient(180deg, #A4CEFF 0%, #A4CEFF 14.32%, #D76310 40.24%, #D76310 65.14%, #96572A 73.18%, #1F0E03 100%);
}

.headerText{
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 5vw;
    text-align: center;
    color: #FFFFFF;
}

.subtitleText{
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 2vw;
    text-align: left;

    color: #FFFFFF;
}

#crustText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: -24%;
}

#sectionOne{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: 100%;
}

#mantleText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 70%;
    top: 0%;
}

#sectionTwo{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0%;
    top: 100%;
}

#coreText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: 40%;
}

#sectionThree{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0%;
    top: 100%;
}

#volcano{
    position: relative;
    width: 100vw;
    height: 160vw;
    left: 0;
    top: 10vh;
    background-image: "lava.png";
}

/* #plant{
    position: relative;
    width: 5vw;
    height: 10vw;
    left: 10%;
    top: -110vw;
} */

/* SECTION ONE PAGE */

#sectionOneBackground{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #694624;
}

#dirt{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
}

/* SECTION TWO PAGE */

#sectionTwoBackground{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #D76310;
}

#magma{
    position: absolute;
    width: 100vw;;
    height: 100vh;
}

/* SECTION THREE PAGE */
#sectionThreeBackground{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#1F0E03 70%, #FDCA6B 100%);
}