body{
    background-color: antiquewhite;
    overflow:hidden;
}


/* holds all albums */
#imageWrapper {
    width: 100vw;
    height: 20vw;
    position: relative;
    left: 0%;
    background-color: red;
}

#featuredAlbum{
    width: 20vw;
    height: 20vw;
    margin-top: 30vw;
    margin-left: 40vw;
    background-color: green;
    overflow:hidden;
}

/* euphoros */
#reflections{
    background-image: url("reflections.png");
    background-size: 20vw;
    position:relative;
    left: 0%;
    width: 20vw;
    height: 20vw;
}

/* king */
#danceFever{
    background-image: url("dancefever.png");
    background-size: 20vw;
    position:relative;
    left: 20%;
    width: 20vw;
    height: 20vw;
    top: -300%;
}

/* teddy picker */
#favoriteWorstNightmare{
    background-image: url("monkeys.png");
    background-size: 20vw;
    position:relative;
    left: 40%;
    width: 20vw;
    height: 20vw;
    top: -400%;
    
}

/* wildflower */
#hitMeHardAndSoft{
    background-image: url("billie.png");
    background-size: 20vw;
    position:relative;
    left: 60%;
    width: 20vw;
    height: 20vw;
    top: -100%;
}

/* sweet thing */
#diamondDogs{
    background-image: url("bowie.png");
    background-size: 20vw;
    position:relative;
    left: 80%;
    width: 20vw;
    height: 20vw;
    top: -200%;
}


#songOneButton{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 39.5vw;
    top: 30vw;
}

#songOneButton:checked ~ #featuredAlbum > #imageWrapper{
    left: 0%;
} 

#songTwoButton{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 40vw;
    top: 30vw;

}

#songTwoButton:checked ~ #featuredAlbum > #imageWrapper {
    left: -100%;
} 

#songThreeButton{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 40.5vw;
    top: 30vw;
}

#songThreeButton:checked ~ #featuredAlbum > #imageWrapper {
    left: -200%;
} 

#songFourButton{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 41vw;
    top: 30vw;
}

#songFourButton:checked ~ #featuredAlbum > #imageWrapper {
    left: -300%;
}

#songFiveButton{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 41.5vw;
    top: 30vw;
}

#songFiveButton:checked ~ #featuredAlbum > #imageWrapper {
    left: -400%;
}

#songTitlesWrapper{
    width: 100vw;
    height: 100%;
    background-color: transparent;
    position: relative;
    left: -400%;
    top: 0%;
}

#euphorosText{
    width: 20%;
    height:100%;
    padding-left: 5%;
    background-color: transparent;
    position: relative;
}

#kingText{
    width: 20%;
    height: 100%;
    padding-left: 6%;
    background-color: transparent;
    position: relative;
    left: 20%;
    top: -100%;
}

#teddyPickerText{
    width: 20%;
    height:100%;
    padding-left: 0.5%;
    background-color: transparent;
    position: relative;
    left: 40%;
    top: -200%;
}

#wildflowerText{
    width: 20%;
    height:100%;
    padding-left: 2%;
    background-color: transparent;
    position: relative;
    left: 60%;
    top: -300%;
}

#candidateText{
    width: 20%;
    height:100%;
    padding-left: 3%;
    background-color: transparent;
    position: relative;
    left: 80%;
    top: -400%;
}

#featuredSong{
    width: 20vw;
    height: 5vw;
    margin-top: 2vw;
    margin-left: 40vw;
    background-color: transparent;
    overflow:hidden;
}