/* home page */
#homeBackground{
    position: relative;
    /* width: 1440px;   */
    width: 100vw;
    /* margin-left:calc(50vw - 760px); */
    height: 400vw;
    background: linear-gradient(180deg, #A4CEFF 0%, #A4CEFF 14.32%, #D76310 40.24%, #D76310 65.14%, #96572A 73.18%, #1F0E03 100%);
}

#sectionOneBackground{
    position: relative;
    width: 100vw;
    height: 400vw;
    background: #694624;
}

.headerText{
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 5vw;
    text-align: center;
    color: #FFFFFF;
}

.subtitleText{
    font-family: 'ADLaM Display';
    font-style: normal;
    font-size: 2vw;
    text-align: left;

    color: #FFFFFF;
}

#crustText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: -27%;
}

#sectionOne{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: -10%;
}

#mantleText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 70%;
    top: 0%;
}

#sectionTwo{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0%;
    top: 100%;
}

#coreText{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 5%;
    top: 40%;
}

#sectionThree{
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 0%;
    top: 100%;
}

/* positioning works */
#volcano{
    position: relative;
    width: 100vw;
    height: 160vw;
    left: -8px;
    top: 10vh;
    background-image: "lava.png";
}

/* positioning works */
#plant{
    position: relative;
    width: 5vw;
    height: 10vw;
    left: 10%;
    top: -28.5%;
}